.container {
  margin: 100px 0;
}

.card {
  margin: 0 1.5% !important;
  background-color:  !important
}

.infected {
  border-bottom: 15px solid lightpink;
}

.recovered {
  border-bottom: 15px solid rgb(118, 235, 153);
}

.deaths {
  border-bottom: 15px solid lightcoral;
}